.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .cta-buttons{
        display: flex;

    }
    .display-data{
        display: flex;
        width: 100%;
        justify-content: space-around;
        .card-box{
            width: 50%;
        }
    }
}